<div class="comments giscus">
  <script src="https://giscus.app/client.js"
                data-repo="divinedragon/divinedragon.github.io"
                data-repo-id="MDEwOlJlcG9zaXRvcnkxMjk4MTI1ODM="
                data-category="Comments"
                data-category-id="DIC_kwDOB7zIZ84Ci37T"
                data-mapping="title"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme="dark"
                data-lang="en"
                crossorigin="anonymous"
                async>
    </script>
</div>
