{{ define "main" -}}
<div class="homepage-content">
  {{ .Content }}
</div>

<div class="posts">
  {{ $listPageTag := (eq .Kind "term") }}
  {{ range (.Paginate (.Pages)).Pages }}
  <article class="post">
      {{ if $listPageTag }}
        {{ partial "post/info-with-type-prefix.html" . }}
      {{ else }}
        {{ partial "post/info.html" . }}
      {{ end }}

      {{ if or (.Site.Params.noSummary) (.Params.noSummary) }}
        {{ .Content }}
      {{ else }}
        {{ .Summary }}

        {{ if .Truncated }}

      <div class="read-more-link">
          <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
        {{ end }}
      {{ end }}
  </article>
  {{- end }}
</div>
{{ partial "pagination.html" . }}
{{ end }}
